h1 {
    text-align: center;
    user-select: none;
    margin-top: 5%;
}

.clickArea {
    text-align: center;
    cursor: pointer;
    background-color: black;
    width: 700px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.centeredImage {
    display: inline-block;
    cursor: pointer;
    margin-top: 4%;
    user-select: none;
    width: 27.19%;
    height: 45.93%;

}
